<div id="conteinerLogin">
  <div id="signWelcome">
    <h1>Bienvenido al super mega que yo <b>e-comerce</b></h1>
  </div>
  <form id="formLogin">
    <h2>Iniciar sesion</h2>
    <label class="form-label" for="">Nombre de usuario</label>
    <input class="form-input" type="text" />
    <label class="form-label" for="">Contraseña</label>
    <input class="form-input" type="password" />
    <button class="btnForm" type="submit">Iniciar sesion</button>
    <p>
      ¿No tienes cuenta?
      <a class="link" routerLink="/auth/register">Registrate</a>
    </p>
  </form>
</div>
