#conteiner {
  background: #454ade;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: 70px;
  font-weight: 900;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 35px;
  color: #fff;
}
p {
  font-size: 25px;
}
a {
  all: unset;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
}
